*.o
*~
*.a
*.so*
*.lo
.objs
.libs
.deps
*.la
*.cache
*.status
libtool
Makefile
*.log
/configure
/configure.in
/config.sub
/config.guess
/config.h
/missing
/mkinstalldirs
#Makefile.am
#Makefile.in
/INSTALL
/README
/doc
/COPYING
/ChangeLog
/NEWS
/AUTHORS
/Doxyfile
/depcomp
install-sh
intltool-*
